/* lcr */

#content {
	font-family:"Source Sans Pro",Georgia, 
				STXihei, "华文细黑", 
             "Microsoft YaHei", "微软雅黑", 
             serif;
    font-size: 11pt;
}

body, html {
	background-color: #eee8d5;
}
.btn {
	margin: 2pt 0pt 2pt 0pt;
}

#sidebar {
	position: fixed;
	right: 0;
	top: 0;
	padding-top: 50px;
}