/* lcr */

#content {
	font-family:"Source Sans Pro",Georgia, 
				STXihei, "华文细黑", 
             "Microsoft YaHei", "微软雅黑", 
             serif;
    font-size: 11pt;
}

.btn {
	margin: 2pt 0pt 2pt 0pt;
}
