{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<div class="container">
   <div class="row">
        <div class="col-xs-12 col-sm-8">
            <header>
              <h2>
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                   title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
           {% import 'translations.html' as translations with context %}
           {{ translations.translations_for(article) }}
            </header>
            <div >
              <addr>{{ article.locale_date }} </addr>
              {% if article.authors %}
              <address> 作者 
              {% for author in article.authors|sort %}
                <a class="url fn" href="{{ SITEURL }}/{{ author.url }}"> {{ author }}</a>
              {% endfor %}
              </address>
              {% endif %}
            </div><!-- /.post-info -->
            <div id="content">
              {{ article.content }}
            </div><!-- /.entry-content -->
           
            {% if DUOSHUO_SITENAME and SITEURL and article.status != "draft" %}
                <section>
                    <div id="DuoShuoComment" aria-live="polite">
                      {% include 'DuoShuo_Script.html' %}
                      {% include 'DuoShuo_thread.html' %}
                    </div>
                </section>
            {% endif %}


        </div><!-- /end col-xs-8 -->

     {% include 'sidebar.html' %}
 </div><!-- /.row -->


</div>
{% endblock %}
