<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
		<link rel="icon" href="{{ SITEURL }}/theme/ico/waaagh.ico">
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}


        <!-- Mobile viewport optimized: j.mp/bplateviewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
        <link href="http://fonts.useso.com/css?family=Source+Sans+Pro:300,400,700,900,300italic" rel="stylesheet">
        <link href="http://fonts.useso.com/css?family=Ubuntu:300,300italic,400,400italic,500,500italic,700,700italic&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
        <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/waaagh.css">
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/pygment.css" />
        {% endblock head %}
</head>

<body >
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ SITEURL }}">
          <img alt="Brand" src="{{ SITEURL }}/theme/ico/waaagh.ico">
        </a>    
      </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a class="active" href="{{ SITEURL }}/">主页</a></li>  
      {% for title, link in MENUITEMS %}
        <li><a href="{{ link }}">{{ title }}</a></li>
      {% endfor %}
      {% if DISPLAY_PAGES_ON_MENU %}
        {% for p in PAGES %}
          <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
        {% endfor %}
      {% else %}
        {% if DISPLAY_CATEGORIES_ON_MENU %}
          {% for cat, null in categories %}
            <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
          {% endfor %}
        {% endif %}
      {% endif %}
      </ul>
    </div>
    </nav>
    <div class="container">
    <div class="page-header">
      <h1><a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
    </div>
  </div>
    {% block content %}
    {% endblock %}
   
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <address>
            眼前所见由<a href="http://getpelican.com/">Pelican</a> 生成.<br>
            本主题 <a href="https://github.com/pkking/waaagh">waaagh</a> 基于<a href="http://getbootstrap.com/">Bootstrap 3</a>.
            </address>

          </div>


          <div class="col-xs-12 col-sm-offset-4 col-sm-4">
            <div class="row">
              <div class="btn-group" role="group" aria-label="social buttons">
                {% if WEIBO_URL %}
                <a role="button" type="button" class="btn btn-danger" href="{{ WEIBO_URL }}" target="_blank">Weibo</a>
                {% endif %}

                {% if GITHUB_URL %}
                <a role="button" type="button" class="btn btn-primary" href="{{ GITHUB_URL }}" target="_blank">Github</a>
                {% endif %}

                {% if TWITTER_URL %}
                <a role="button" type="button" class="btn btn-info" href="{{ TWITTER_URL }}" target="_blank">Twitter</a>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
  <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
