{% if DUOSHUO_SITENAME and SITEURL and article.status != "draft" %}
    <!-- Duoshuo Comment BEGIN -->
    <div class="ds-thread" data-thread-key="{{ article.date|strftime('%Y%m%d%H%M%S') }}" data-title="{{ article.title}}"></div>
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"{{ DUOSHUO_SITENAME }}"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
    <!-- Duoshuo Comment END -->
{% endif %}
