{% extends "base.html" %}
{% block content %}
<div class="container">
{% block content_title %}

{% endblock %}


   <div class="row">


        <div class="col-xs-8">
                <ol>
                {% for article in articles_page.object_list %}
                        <li><div class="container">
                                <header> <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                                <div class="container">
                                    <address> {{ article.locale_date }} </abbress>
                                    {% if article.authors %}
                                    <address>作者 
                                    {% for author in article.authors|sort %}
                                    <a href="{{ SITEURL }}/{{ author.url }}"> {{ author }}</a>
                                    {% endfor %}
                                    </address>
                                    {% endif %}
                                </div><!-- /.post-info -->
                                <div class="container"> {{ article.summary }} </div><!-- /.entry-content -->

                                <div class="btn btn-primary"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">Read more <span class="glyphicon glyphicon-arrow-right"></span></a></div>

                                {% if article.tags %}
                                      <span>标签 : </span>
                                      {% for tag in article.tags %}
                                      <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-danger" aria-expanded="false">
                                          <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag|e }}</a>
                                        </button>
                                      </div>
                                      {% endfor %}
                                {% endif %}
                        </div></li>
                {% endfor %}
                </ol><!-- /#posts-list -->
        </div><!-- /.eleven.columns -->
     {% include 'sidebar.html' %}
 </div><!-- /.row -->

{% include 'pagination.html' %}
</div><!-- /#container -->
{% endblock content %}
