{% if DEFAULT_PAGINATION %}
<nav>
  <ul class="pagination">
    {% if articles_page.has_previous() %}
    <li>
    {% else %}
    <li class="disabled">
    {% endif %}
      <a href="{{ SITEURL }}/{{ page_name }}.html" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for p in range(1,articles_paginator.num_pages+1) %}
      {% if p == articles_page.number %}
        {% if p == 1 %}
          <li class="active"><a href="{{ SITEURL }}/{{ page_name }}.html">{{ p }}</a></li>
        {% else %}
          <li class="active"><a href="{{ SITEURL }}/{{ page_name }}{{articles_paginator.num_pages }}.html">{{ p }}</a></li>
        {% endif %}
      {% else %}
        {% if p == 1 %}
          <li ><a href="{{ SITEURL }}/{{ page_name }}.html">{{ p }}</a></li>
        {% else %}
          <li ><a href="{{ SITEURL }}/{{ page_name }}{{articles_paginator.num_pages }}.html">{{ p }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
    <li>
      <a href="{{ SITEURL }}/{{ page_name }}{{articles_paginator.num_pages }}.html" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endif %}
